# Database
DATABASE_URL="postgresql://postgres.tywaexwobqfjgvjvitbp:mudsef-5Kavje-mubtuv@aws-1-eu-central-1.pooler.supabase.com:5432/postgres"

# Authentication
JWT_SECRET="v98Hhaxx5xG5IlEpu9qNJ/sPDqd84RtMFGyRDO5G26w="

# PasarGuard Panel Integration
PASARGUARD_API_URL="https://vpn.mustfq.xyz:8000"
PASARGUARD_ADMIN_USERNAME="system"
PASARGUARD_ADMIN_PASSWORD="x2GcQlQ28o%2"

# Site URL for subscription link generation
NEXT_PUBLIC_APP_URL="http://localhost:3000"
